.main_wrapper {
  display: grid;
  justify-content: center ;
  justify-items: center ;
  align-items: center;

}

input {
  padding-left: 8px; 
  height: 30px;
  border-radius: 8px;
  border: 1px solid rgb(112, 112, 253);
  margin: 8px;
  width: max-content;
  max-width: 100dvw;
}

input:active {
  box-shadow: 0 0 3px 0px blue;

}

button {
  width: min-content;
  padding: 4px 10px;
  border-radius: 16px;
  border-color: blue;
  border-width: .5px;
  background: rgb(208, 208, 255);
}

img {
  margin: 10px;
  width: 200px;
}